<div class="overflow-x-auto">
    <table class="min-w-full table-auto bg-white shadow rounded">
        <thead class="bg-gray-200 text-xs uppercase text-gray-600">
        <tr>
            <th class="p-2 text-left">Name</th>
            <th class="p-2 text-left">Age</th>
            <th class="p-2 text-left">State</th>
            <th class="p-2 text-left">Treatments</th>
            <th class="p-2 text-left">Actions</th>
        </tr>
        </thead>
        <tbody class="text-sm">
        {% for patient in patients %}
            {% include 'patient/_row.html.twig' with { patient: patient } %}
        {% endfor %}
        </tbody>
    </table>
</div>
