<div class="overflow-x-auto">
    <table class="min-w-full table-auto bg-white shadow rounded">
        <thead class="bg-gray-200 text-xs uppercase text-gray-600">
        <tr>
            <th class="p-2 text-left">Naam</th>
            <th class="p-2 text-left">Leeftijd</th>
            <th class="p-2 text-left">Status</th>
            <th class="p-2 text-left">Behandelingen</th>
            <th class="p-2 text-left">Acties</th>
        </tr>
        </thead>
        <tbody class="text-sm">
        {% for patient in patients %}
            {% include 'patient/_row.html.twig' with { patient: patient } %}
        {% endfor %}
        </tbody>
    </table>
</div>
