{% extends 'base.html.twig' %}

{% block body %}
    <div class="mb-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3">
        <h2 class="text-xl font-bold">
            Patient Summaries
        </h2>

        <div id="flashes" class="mt-4 space-y-2"></div>

        {% include 'patient/_admit_modal.html.twig' %}
    </div>
    <turbo-frame id="patients">
        {% include 'patient/_patients_table.html.twig' with { patients: patients } %}
    </turbo-frame>
{% endblock %}
